/* general styling */
.red {
  color: #dc3545;
}

.yellow {
  color: #ffc107;
}

.locobukz {
  width: 150px;
  height: 150px;
}

/* components */
.claimbtn {
  color: white;
  font-family: "Proxima-nova", sans-serif !important;
  margin-bottom: 1.5rem !important;
}

.claimbtn:hover {
  opacity: 0.8;
}

.claimbtn:focus {
  scale: 1.0125;
}

/* utilities */
.container {
  width: min(100% - 2rem, 60rem);
  min-height: 100dvh;
  margin-inline: auto;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

.imageWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

/* loader */

.center {
  display: flex;
  place-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 50px;
  aspect-ratio: 8/5;
  --_g: radial-gradient(#ffffff 68%, #ffffff00 71%) no-repeat;
  mask: var(--_g),var(--_g),var(--_g);
  mask-size: 25% 40%;
  -webkit-mask: var(--_g),var(--_g),var(--_g);
  -webkit-mask-size: 25% 40%;
  background: white;
  animation: load 2s infinite;
}       

@keyframes load {
0%    {-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 0%  }
16.67%{-webkit-mask-position: 0% 100%,50% 0%  ,100% 0%  }
33.33%{-webkit-mask-position: 0% 100%,50% 100%,100% 0%  }
50%   {-webkit-mask-position: 0% 100%,50% 100%,100% 100%}
66.67%{-webkit-mask-position: 0% 0%  ,50% 100%,100% 100%}
83.33%{-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 100%}
100%  {-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 0%  }
}